.btn {
  margin-right: 5px;
}

.markedAsDone {
  text-decoration: line-through;
  color: #777;
}

.markedAsNotDone {
  text-decoration: none;
  color: #000;
}

.tableActions {
  width: 105px;
}

.todoForm {
  padding-bottom: 60px;
}